.container {
  border-radius: 1rem;
  gap: 1rem;
  overflow: hidden;
  display: flex;
}

.container:hover {
  background-color: #ffffff10;
}

.coverWrapper {
  position: relative;
  width: 500px;
  height: 300px;
}

.cardCover {
  flex: 1;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 250px;
}

.imageWrapper,
.gifWrapper {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  text-align: end;
  align-items: flex-end;
  position: relative;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 20px;
}

.description {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 30%;
  padding: 10px;
  width: 500px;
  border-radius: 0.5rem;
}

.gifWrapper {
  position: absolute; /* Allows the GIF to be positioned */
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.tagContainer {
  margin-top: 6rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  color: var(--color-muted);
  border-radius: 1rem;
  font-size: small;
}

.links {
  display: flex;
  gap: 10px;
}

.link {
  width: 24px;
  height: 24px;
  fill: var(--color-muted);
  transition: fill 0.3s ease;
}

.link:hover {
  fill: var(--color-accent);
}

@media (max-width: 768px) {
  .projectCard {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 250px;
  }

  .cardCover {
    height: 100%;
  }

  .cardContent {
    position: absolute;
  }
}

@media (min-width: 769px) {
  .cardContent {
    max-width: 55%;
  }

  .reverse {
    flex-direction: row-reverse;
    border-radius: 1rem;
  }

  .reverse .cardContent {
    text-align: start;
    align-items: flex-start;
  }
}
