.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  transition: padding 0.5s ease;
}

.logo {
  color: var(--foreground);
  font-weight: bold;
  font-size: 2rem;
}

/* toggle  */
.hamburgerToggle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 25px;
  z-index: 1001;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.hamburgerToggle .hamBar {
  background-color: var(--foreground);
  height: 2px;
  width: 25px;
  transition: all 500ms ease-in-out;
}

.xTop {
  transform: rotate(45deg) translate(6.5px, 6.5px);
}

.xMid {
  opacity: 0;
}

.xBot {
  transform: rotate(-45deg) translate(6.5px, -6.5px);
}

.navOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.navLinks {
  color: var(--foreground);
  height: 100%;
  font-size: 5rem;
  list-style: none;
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: color 0.1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.navItem {
  font-weight: 1000;
}

.navLink {
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #0070f3;
}

/* Larger screens */
@media (min-width: 768px) {
  .navbar.active {
    padding: 2rem 10rem;
  }

  .navOverlay {
    padding-left: 10rem;
  }
}

/* small screens */
@media (max-width: 767px) {
  .navbar.active {
    padding: 2rem 4rem;
  }

  .navOverlay {
    padding: 2rem 4rem;
  }
}
